<template name="layout">
	<header>
		<div class="inner">
			{{>loginButtons}}
			<div class="logo">
				<h1>
					<a href="/">C</a>
				</h1>
			</div>
		</div>
		<div class="inner">
			<nav>
				<a href="/">Home</a>
				<a href="/rules">Set the rules</a>
			</nav>
		</div>
	</header>
	<div class="main">
		<div class="inner">
			<div class="errors">
				{{>meteorErrors}}			
			</div>
			{{> yield}}
		</div>
	</div>
	<footer>
		<div class="inner">
			<p class="right">
				©MadPole Studio. Whooooooaa!
			</p>
		</div>
	</footer>
</template>
