@import "partials/.baseLayout.styl"
@import "partials/.typography.styl"


form()

input
	font-size .9rem
	padding .5rem

button
	simple-button(color = red, size = 'medium')

header
	background #333
	color white
	padding-bottom 1rem
	margin-bottom 1rem
	border-bottom 5px solid white
	a
		margin 0 2rem 0 0
		color #666
		&:hover
			color white

nav
	display none

.logo
	column(3/4)
.menu
	column(1/4)
