@import '../../styles/partials/.colors.styl'


.whatHappened
	width 35rem
  margin-bottom 1rem

ul.points
	li
		display inline-block
		&.positive
			button	
				background green
		&.negative
			button
				background red

#searchScores
	width 35rem


