<template name="newScore">
	<div class="newScore">
		<form>
			<input class="whatHappened" type="text" name="whatHappened" placeholder="What has happened?"/>
			<ul class="points">
				<li class="negative"><button>-10</button></li>
				<li class="negative"><button>-5</button></li>
				<li class="negative"><button>-3</button></li>
				<li class="negative"><button>-1</button></li>
				<li class="positive"><button>+1</button></li>
				<li class="positive"><button>+3</button></li>
				<li class="positive"><button>+5</button></li>
				<li class="positive"><button>+10</button></li>
			</ul>
		</form>
	</div>
</template>