<template name="overview">
	{{#each allTheKids}}
		<section>
			<h2>{{name}}</h2>
			<button name="button">SCORE</button>
			<p>Current score is {{score}}</p>
			<div class="dealInputs">
				<input type="text" name="to" class="to">
				<input type="text" name="need" class="need">
			</div>
			<button name="button">MAKE A DEAL</button>
			{{#each deals}}
				<p class="{{dealStatus ..}}">
					To be able to <b>{{to}}</b> i must have at least <b>{{need}}</b>
					points.
				</p>
			{{/each}}
		</section>
	{{/each}}
</template>
