@import '../../styles/partials/.colors.styl'

.newKid
	input
		width 35rem

h2.currentScore
	span.score
		font-size 3rem
		display inline-block
		background gold
		color white
		padding .4rem
		border-radius .4rem

.list li
	background #eee
	padding .5rem
	margin .2rem 0
	.what
		display inline-block
		width 70%
	.when
		display inline-block
		width 20%
		font-size 75%
	.score
		display inline-block
		width 10%
		text-align right

.list.deals li
	button
		float right 
		padding .2rem
		margin-top -.1rem
		background black
	&.reqNotMet
		color c-error
	&.reqMet
		color green

.control .button.edit
	float right
	simple-button(c-error)
	color white

