.newKid
	input
		width 20rem

.showKid	
	h2
		margin-top 2rem	

h2.currentScore
	color red

.list li
	background #eee
	padding .5rem
	margin .2rem 0

.list.deals li
	color white
	button
		float right 
		padding .2rem
		margin-top -.1rem
		background black
	&.reqNotMet
		background red
	&.reqMet
		background green

