<template name="showKid">
	<div class="showKid">
		<h2 class="currentScore">{{name}}'s current score is <span class="score">{{score}}</span></h2>
		<div class="control">
			<a href="/score/new" class="button">Update score</a>
			<a href="/kid/edit" class="button edit">Edit Kid</a>
		</div>
		<h2 class="deals header">The Deals</h2>
		<ul class="list deals">
			{{#each deals}}
				<li class="{{dealStatus ..}}">In order to {{to}} I need at least {{need}} points. <button class="remove">remove</button></li>
			{{/each}}
		</ul>
		<h2 class="scores header">Last scores</h2>
		<ul class="list scores">
			{{#each scoredRules}}
				<li><span class="what">{{thisAction}}</span><span class="when">{{when}}</span><span class="score">{{isWorth}}</span></li>
			{{/each}}
		</ul>
	</div>
</template>

<template name="newKid">
	<div class="newKid">
		<h2>Register a new kid</h2>
		<form>
			<input type="text" name="name" placeholder="name" />
			<button type="submit">Register</button>
		</form>
	</div>
</template>

<template name="editKid">
	<div class="editKid">
		<h2>Edit {{name}}'s details</h2>
		<form>
			<label>
				Name
				<input type="text" name="name" value="{{name}}">
			</label>
		</form>
		<div class="controls">
			<button type="submit" class="delete">Delete</button>
		</div>
	</div>
</template>