<template name="deals">
	<h1>Deals</h1>
	<form>
		<input class="theWhat" type="text" placeholder="To be able to">
		<input class="theHowMuch" type="text" placeholder="I need">
		<button type="submit">SAVE</button>
	</form>
</template>

<template name="newDeal">
  <p>This is where you should specify what the condition is and the number of points needed to be able to meet it.</p>
	<form>
		<input type="text" class="to" placeholder="In order to">
		<input type="text" class="need" placeholder="I need">
		<button type="submit">Cut the deal</button>
	</form>
</template>
