@import '../../styles/partials/.colors.styl'

.rules
  [name="thisAction"]
    width 30rem
  [name="isWorth"]
    width 4rem

.ruleList
  li
    margin .1rem 0
    padding .8rem
    background #eee
    span
      display inline-block
      &.thisAction
        width 33rem
      &.isWorth
        width 2rem
